html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    width: 100%;

}

header {
    background-color: darkslategray;
}

.name {
    font-size: 40px;
    color: blanchedalmond;
}


a {
    color: blanchedalmond;
    text-decoration: none;
}

/* Pic under nav-bar */
.beach-pic {
    height: 400px;
    width: 100%;
    background-image: url("../images/beach-1.jpg");
    background-size: cover;
    background-position: center;
}

/* MAIN STYLING */
/* All the elements are going to be column oriented flex elements and centered in the middle of the webpage */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Each section fills the width of the webpage and is automatically flex display and centered in the middle */
section {
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

/* About Me Section */
h2 {
    font-size: 30px;
    padding: 10px 0;
    margin: 20px;
}
/* about me section has multiple flexboxes that wrap and shrink when the wepage gets smaller */
.about-me {
    flex-wrap: wrap;
    gap: 30px;
}

.about-me img {
    border: solid black;
    border-width: 2px;
    max-height: 60vh;
    max-width: 80%;

}

.about-me article {
    flex: 1 1 380px;
    max-width: 80%;
    min-height: fit-content;
    line-height: 20px;
    border: solid black;
    border-width: 2px;
    padding: 10px;

}

.about-me article p {
    max-height: 100%;
    min-width: 0;
}

/* Work Portfolio section */

.work {
    flex-wrap: wrap;
}

.work h3 {
    font-size: 20px;
    background-color: blanchedalmond;
    text-align: center;
    width: fit-content;
    position: relative;
    left: 0;
    top: 0;
    padding: 5px;
    border: solid black;
    border-width: 0px 2px 2px 0px;
    color: black;
}
/* Project cards wrap, grow, and shrink when the webpage changes. These are flexboxes as well */
.project-card {
    flex: 1 1 40vw;
    border: solid black 2px;
    margin: 20px 10px;
    background-size: cover;
    background-position: center;
    height: 30vh;
}
/* darkens image when the mouse hovers over a project card */
.project-card:hover {
    filter: brightness(75%);
}

/* first project card needs to be bigger than all others */
#project-1 {
    flex: 1 1 80vw;
    margin: 0 10px;
    height: 60vh;
    background-image: url("../images/outdoorsyISH.png");
}

#project-2 {
    background-image: url("../images/horiseon.png");
}

#project-3 {
    background-image: url("../images/flower.jpg");
}

.work-link {
    /* color:black; */
    height: 100%;
    width: 100%;

}

/* contact info */
/* contact info is also a flex element */
.contact {
    flex-wrap: wrap;
    background-color: darkslategrey;
    align-items: center;
}

.contact li {
    color: blanchedalmond;
    margin: 0 20px;
    line-height: 20px;
}

.contact h2 {
    margin: 10px 20px;
    padding: 10px 0 10px 0;
}
